<form method="POST" action="/categorias/editar/<%= content.id %>" >
  <input placeholder="Insira o nome da categoria" type="text" name="categoria" value="<%= content.categoria %>" />
  <button type="submit">Salvar</button>
</form>
