<a href="categorias/nova">Nova Categoria</a>
<ul>
  <% categorias.forEach( content => { %>
    <li><%= content.categoria %> <a href="/categorias/excluir/<%= content.id %>">Excluir</a></li>
  <% }) %>
</ul>
